<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logFile" xsi:type="File"
				layout="${longdate} | ${level} >> ${message} | ${exception:innerFormat=Message,StackTrace}"
				fileName="${basedir}/Logging/Tengu.${logger}.log"
				keepFileOpen="true"
				autoFlush="true"
				deleteOldFileOnStartup="true"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="DownloadManager" minlevel="Trace" writeTo="logFile" />
		<logger name="AnimeModelDialog" minlevel="Trace" writeTo="logFile" />
		<logger name="Calendar" minlevel="Trace" writeTo="logFile" />
		<logger name="Home" minlevel="Trace" writeTo="logFile" />
		<logger name="Latest" minlevel="Trace" writeTo="logFile" />
		<logger name="Search" minlevel="Trace" writeTo="logFile" />
		<logger name="Upcoming" minlevel="Trace" writeTo="logFile" />
		<logger name="Settings" minlevel="Trace" writeTo="logFile" />
		<logger name="ProgramConfig" minlevel="Trace" writeTo="logFile" />
	</rules>
</nlog>