<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File"
                layout="${date:format=dd-MM-yyyy HH\:mm\:ss fff} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message} | ${exception:format=@}"
                fileName="${basedir}/Logs/${logger}.log"
                deleteOldFileOnStartup="true"
                maxArchiveDays="3"
                keepFileOpen="true"
                encoding="utf-8" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>